<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
    <h1>Simple AirBnB</h1>
    <form method="get" action="/flats/new">
      <button type="submit" class="btn btn-outline-primary">Add Flat</button>
    </form>
  </nav>

  <%= yield %>

  </body>
</html>
